
*.pyc
genai_agent/before2026_py_files/
genai_agent/data/prompts/backup/
genai_agent/data/spec_tables/backup/
# genai_agent/data/*
# !genai_agent/data/local_config.py
# !genai_agent/data/response_schema.py
# !genai_agent/data/category_numbers.py
# !genai_agent/data/class.yaml
# !genai_agent/data/prompts/
# !genai_agent/data/categories/

genai_agent/output
genai_agent/before2026_py_files/CAD/
no_backup
output_figs
solutions
material/dataset/*
material/papers_found/
!material/dataset/.gitkeep
material/classified_dataset/*
!material/classified_dataset/.gitkeep
ngspice
ngspice_interface/files/yaml_files/
